{% extends 'base.html' %}
{% block content %}

    {% if user.is_authenticated %}
        <h2>Edit Customer Profile</h2>
        <form action="" method="post" onsubmit = "return confirm('Are you sure you want to modify your profile details?')">
            {% csrf_token %}
            {{ customuser_form.as_p }}
            {{ customer_form.as_p }}

            <button type="submit"> Save </button>
            <p><a href="{% url 'user_edit_password' %}">Change your password</a></p>
        </form>
    {% endif %}
{% endblock content %}
