{% extends 'base.html' %}
{% block content %}

    <form action = "{% url 'search_customer' %}" method = "get">
        {% csrf_token %}
        <select name = "filter" id="filter">
            <option value = "name"> Name</option>
            <option value = "email">E-mail</option>
        </select>
        <input name = "query" type = "text" placeholder = "Search">
        <button type = "submit"> Search </button>
    </form>

    {% if object_list %}
        <form method = "post">
        {% csrf_token %}
        {% for customer in object_list %}
            <div>
                <input type = "radio" id = "username" name = "username" value = " {{ customer.username }}" required>
                <label for = "{{ customer.username }}">{{ customer.first_name }} {{ customer.last_name  }} ({{ customer.email }})</label>
            </div>
        {% endfor %}
        <br/>
        <button type = "submit">Proceed to Orders</button>
        </form>

    {% else %}
    <p>No matches could be found.
        <a href = "{% url 'order_new' %}">Create an order for a new customer instead.</a>
    </p>
    {% endif %}


{% endblock content %}
